<a href="https://colab.research.google.com/github/AmirHdm/Amir/blob/master/Assignment_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import Numpy library to provide high-performance multidimensional array object and tools 
#import Pandas library for data structures and data analysis tools for the Python programming language

In [136]:
import numpy as np
import pandas as pd

In [ ]:
#upload the data file "Data.xlsx" from local drive

In [137]:
from google.colab import files
uploaded_data = files.upload()

Saving data.xlsx to data (3).xlsx

In [ ]:
#integration the uploaded_data file "excel file " and visualize his content

In [159]:
import io
data = pd.read_excel(io.BytesIO(uploaded_data['data.xlsx']))
data

      ID  Gender  Nationality  Major  Level  ...   W2   W3  Employed  Score  Class
0      1       0            1      0      2  ...  4.0  4.0       1.0   3.20      1
1      2       0            0      0      2  ...  4.0  3.0       0.0   3.82      1
2      3       0            1      0      1  ...  4.0  2.0       1.0   3.75      1
3      4       1            1      1      3  ...  4.0  4.0       1.0   3.70      1
4      5       0            0      0      2  ...  4.0  2.0       1.0   3.82      0
..   ...     ...          ...    ...    ...  ...  ...  ...       ...    ...    ...
255  256       1            0      1      2  ...  4.0  4.0       1.0   3.34      1
256  257       0            0      0      1  ...  4.0  NaN       0.0   3.18      1
257  258       0            0      0      1  ...  3.0  NaN       0.0   3.97      0
258  259       1            0      0      2  ...  4.0  1.0       1.0   3.51      1
259  260       0            1      0      2  ...  2.0  4.0       1.0   3.51      0

[260 rows x 39 columns]

In [ ]:
#Viewing the first 10 lines

In [139]:
data.head(10)

   ID  Gender  Nationality  Major  Level  ...   W2   W3  Employed  Score  Class
0   1       0            1      0      2  ...  4.0  4.0       1.0   3.20      1
1   2       0            0      0      2  ...  4.0  3.0       0.0   3.82      1
2   3       0            1      0      1  ...  4.0  2.0       1.0   3.75      1
3   4       1            1      1      3  ...  4.0  4.0       1.0   3.70      1
4   5       0            0      0      2  ...  4.0  2.0       1.0   3.82      0
5   6       1            0      1      2  ...  4.0  2.0       1.0   3.68      0
6   7       0            1      0      2  ...  4.0  4.0       1.0   3.83      0
7   8       0            1      0      1  ...  4.0  4.0       1.0   3.27      1
8   9       0            1      1      3  ...  4.0  4.0       1.0   3.00      0
9  10       0            0      1      2  ...  3.0  3.0       1.0   3.85      1

[10 rows x 39 columns]

In [ ]:
##Informations about Dataset using .info()

In [65]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 39 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           260 non-null    int64
 1   Gender       260 non-null    int64
 2   Nationality  260 non-null    int64
 3   Major        260 non-null    int64
 4   Level        260 non-null    int64
 5   IE1          260 non-null    int64
 6   SMSK3        260 non-null    int64
 7   RAS1         260 non-null    int64
 8   RAS2         260 non-null    int64
 9   SMSK1        260 non-null    int64
 10  SMSK4        260 non-null    int64
 11  IE2          260 non-null    int64
 12  TL1          260 non-null    int64
 13  RAS3         260 non-null    int64
 14  IE3          260 non-null    int64
 15  RAS4         260 non-null    int64
 16  RAS5         260 non-null    int64
 17  IE4          260 non-null    int64
 18  SMSK2        260 non-null    int64
 19  TL2          260 non-null    int64
 20  TL3          260 non-null    int64
 21  PSD1         260 non-null    int64
 22  PSD2         260 non-null    int64
 23  PSD3         260 non-null    int64
 24  IE5          260 non-null    int64
 25  PSD4         260 non-null    int64
 26  PSD5         260 non-null    int64
 27  IM1          260 non-null    int64
 28  IM2          260 non-null    int64
 29  IM3          260 non-null    int64
 30  IM4          260 non-null    int64
 31  IM5          260 non-null    int64
 32  IM6          260 non-null    int64
 33  W1           241 non-null    float64
 34  W2           246 non-null    float64
 35  W3           210 non-null    float64
 36  Employed     258 non-null    float64
 37  Score        260 non-null    float64
 38  Class        260 non-null    int64
dtypes: float64(5), int64(34)
memory usage: 79.3 KB

In [ ]:
#The len() function returns the number of items in the object data

In [106]:
len(data)

260

In [107]:
#The Pandas unique() function on a variable of interest to return the unique values of the column from the object data

In [160]:
data['Class'].unique()

array([1, 0])

In [ ]:
#the dropna () function to detecte the missing values and it's True to do an operation inplace and return None

In [161]:
data.dropna(inplace=True)

In [162]:
from sklearn.model_selection import train_test_split

In [ ]:
#the .iloc[]function for primarily integer position based

In [163]:
X = data.iloc[:,1:260]
Y = data.iloc[:,38]

In [ ]:
#Spliting the inputs and the outputs into  the train_test_split() function

In [164]:
x_train , x_t , y_train, y_t = train_test_split(X, Y, test_size=0.2, random_state=42)

In [ ]:
#importation of the Support vector machines and the classification model

In [165]:
from sklearn import svm

In [ ]:
#the C-Support Vector Classification

In [166]:
clf = svm.SVC()
#Fit the SVM model according to the given training data (Trainig)
clf.fit(x_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [126]:
#Performing the classification on samples in X_train.

In [167]:
pred = clf.predict(x_t)

In [168]:
from sklearn import metrics

In [133]:
#the F1 score as evaluation metric

In [169]:
metrics.f1_score(y_t, pred)

0.9545454545454545